## Feature Engineering - Encode Categorical Features

In [46]:
import pandas as pd
import numpy as np

### 1.Load Data

In [47]:
exp = pd.read_csv('./data/processed/exp_r2r.csv')

In [48]:
exp.reset_index(inplace=True) # Avoid error in cross validation

### 2.Preprocessing

(1) Generate Labels

In [49]:
exp['max_n'] = exp[['la_n','n','ha_n']].max(axis=1)
exp['max_p'] = exp[['la_p','p','ha_p']].max(axis=1)
exp['valence_p'] = exp[['la_p','p','ha_p']].mean(axis=1)
exp['valence_n'] = exp[['la_n','n','ha_n']].mean(axis=1)
exp['valence_reg'] = exp['valence_p'] - exp['valence_n']
exp['valence'] = 0
exp.loc[exp['max_n'] >= exp['max_p'], 'valence'] = 1

(2) Encoding Categorical Data

i. Education

In [50]:
HS = ['12.0','high school', 'High School', 'high school + cosmetology school', 'High School Graduate']
BA = ['Some college', 'B.A. English/Spanish B.S. Nursing', 'B.S. working on MD and MTS', 'B.S.  Mechanical Engineering', 
      "Bachelor's Degree", 'B.A.', 'College student 3 years', 'B.A. from Cornell Univ.', 'Bachelors degree in Social Work', 
      'BS', 'BA Vanderbilt', 'BS Communications', "college graduate (bachelor's degree in Music from Belmont University)",
      'Bachelor of Arts', 'BSN- bachelors of science in nursing', 'BSE Princeton',
      'Obtained B.S., 2011', 'bachelor of science', 'Bachelor of Social Work', 'B.S.', 'BBA - Bachelors', 'BSC Communications',
      'B.A. 1988', 'B.S. degree dietetics, internship', 'Bachelor of Arts + Equivalency Degree', 'Bachelors', 'B.S. Business Management',
      'B.S. Psychology Texas A&M', 'BS Journalism; BS Nutrition', 'B.E.Sc.', 'Bachelor Degree Music Ed', 'NDCDP',
      'BS Math/Computer Science', 'BS Business', 'college graduate','14.0','16.0']
MS = ['MBA', 'High School Diploma, BA, MBA', 'B.S. Business Management', 'BS Business','College grad', 'College, Masters',"Bachelor of science, 1 year of Master's",'Masters; PhD ongoing', 'M.S. Psychology/ B.A. Sociology',
                'B.S., MPH','18.0', '19.0']
PhD = ['Ph.D.', 'PhD Candidate', 'PhD', 'BS. (PhD Student currently)', 'Masters; PhD ongoing', 
       'Pursuing PhD at Vanderbilt. Have B.S. from UTK', 'BA from Stanford, JD from Univ of Michigan','21.0', '22.0', '20.0']

In [51]:
exp.loc[:,'edu'] = 0
exp.loc[:,'edu_hs'] = 0
exp.loc[exp['Education'].isin(HS), 'edu_hs'] = 1
exp.loc[exp['Education'].isin(HS), 'edu'] = 'high school'
exp.loc[:,'edu_ba'] = 0
exp.loc[exp['Education'].isin(BA), 'edu_ba'] = 1
exp.loc[exp['Education'].isin(BA), 'edu'] = 'undergrad'
exp.loc[:,'edu_ma'] = 0
exp.loc[exp['Education'].isin(MS), 'edu_ma'] = 1
exp.loc[exp['Education'].isin(MS), 'edu'] = 'master'
exp.loc[:,'edu_phd'] = 0
exp.loc[exp['Education'].isin(PhD), 'edu_phd'] = 1
exp.loc[exp['Education'].isin(PhD), 'edu'] = 'phd'

ii. Sex

In [52]:
exp['Sex'].unique()
# Drop NA in Sex column
exp = exp[~exp['Sex'].isna()]
exp.shape

(3058, 223)

iii. Marital Status

In [53]:
exp.loc[:,'is_married'] = 0
exp.loc[exp['Marital_Status'] == 'Married', 'is_married'] = 1
exp.loc[:,'is_divorced'] = 0
exp.loc[exp['Marital_Status'] == 'Divorced', 'is_divorced'] = 1
exp.loc[:,'is_single'] = 0
exp.loc[exp['Marital_Status'] == 'Single', 'is_single'] = 1
exp.loc[:,'is_widowed'] = 0
exp.loc[exp['Marital_Status'] == 'Widowed', 'is_widowed'] = 1
exp.loc[:,'is_with_partner'] = 0
exp.loc[exp['Marital_Status'] == 'Living with partner', 'is_with_partner'] = 1

iv. Income

In [54]:
exp.loc[:,'income'] = 0
exp.loc[exp['Household_income'] == '$10,000-$19,999', 'income'] = 1
exp.loc[exp['Household_income'] == '$20,000-$29,999', 'income'] = 2
exp.loc[exp['Household_income'] == '$30,000-$39,999', 'income'] = 3
exp.loc[exp['Household_income'] == '$40,000-$49,999', 'income'] = 4
exp.loc[exp['Household_income'] == '$50,000-$59,999', 'income'] = 5
exp.loc[exp['Household_income'] == '$60,000-$69,999', 'income'] = 6
exp.loc[exp['Household_income'] == '$70,000-$79,999', 'income'] = 7
exp.loc[exp['Household_income'] == '$80,000-$89,999', 'income'] = 8
exp.loc[exp['Household_income'] == '$90,000-$99,999', 'income'] = 9
exp.loc[exp['Household_income'] == '$100,000-$109,999', 'income'] = 10
exp.loc[exp['Household_income'] == '$110,000-$119,999', 'income'] = 11
exp.loc[exp['Household_income'] == '$120,000-$129,999', 'income'] = 12
exp.loc[exp['Household_income'] == '$130,000-$139,000', 'income'] = 13
exp.loc[exp['Household_income'] == '$140,000-$149,999', 'income'] = 14
exp.loc[exp['Household_income'].isin(['$150,000 or more ','$150,000 or more']), 'income'] = 15

### 3.Check Missingness

In [55]:
missing_rate = exp.isnull().sum()/exp.shape[0]

In [56]:
missing_lt_half_col = missing_rate[missing_rate <= .3].index.values

In [57]:
exp_clean = exp[missing_lt_half_col].dropna()

In [58]:
exp_clean.columns.values

array(['index', 'Unnamed: 0', 'Unnamed: 0.1', 'subject', 'la_p', 'ha_p',
       'ha_n', 'la_n', 'la', 'p', 'n', 'ha', 'start_survey', 'survey_no',
       'experiment', 'DATE_x', 'Period_of_day', 'VALENCE', 'VALENCE_mean',
       'start_survey_5m_ahead', 'start_survey_10m_ahead',
       'start_survey_30m_ahead', 'start_survey_1h_ahead',
       'start_survey_3h_ahead', 'survey_date', 'subject_id_x', 'step_max',
       'step_min', 'step_median', 'steps_max_3h', 'steps_min_3h',
       'steps_mean_3h', 'steps_var_3h', 'steps_median_3h', 'move_rate_3h',
       'active_rate_3h', 'very_active_rate_3h', 'running_rate_3h',
       'steps_max_1h', 'steps_min_1h', 'steps_mean_1h', 'steps_var_1h',
       'steps_median_1h', 'move_rate_1h', 'active_rate_1h',
       'very_active_rate_1h', 'running_rate_1h', 'steps_max_30m',
       'steps_min_30m', 'steps_mean_30m', 'steps_var_30m',
       'steps_median_30m', 'move_rate_30m', 'active_rate_30m',
       'very_active_rate_30m', 'running_rate_30m', 'steps_max_10m',
       'steps_min_10m', 'steps_mean_10m', 'steps_var_10m',
       'steps_median_10m', 'move_rate_10m', 'active_rate_10m',
       'very_active_rate_10m', 'running_rate_10m', 'steps_max_5m',
       'steps_min_5m', 'steps_mean_5m', 'steps_var_5m', 'steps_median_5m',
       'move_rate_5m', 'active_rate_5m', 'very_active_rate_5m',
       'running_rate_5m', 'subject_id_y', 'hr_max', 'hr_min', 'hr_med',
       'hr_0', 'hr_0.3', 'hr_0.5', 'hr_0.8', 'hr_1', 'SDNN_3h', 'pHR2_3h',
       'rMSSD_3h', 'low_hr_3h', 'high_hr_3h', 'l_h_3h', 'CR_3h',
       'hr_mean_3h', 'hr_var_3h', 'hr_std_3h', 'hr_median_3h',
       'hr_rest_rate_3h', 'hr_moderate_rate_3h', 'hr_very_active_rate_3h',
       'SDNN_1h', 'pHR2_1h', 'rMSSD_1h', 'low_hr_1h', 'high_hr_1h',
       'l_h_1h', 'CR_1h', 'hr_mean_1h', 'hr_var_1h', 'hr_std_1h',
       'hr_median_1h', 'hr_rest_rate_1h', 'hr_moderate_rate_1h',
       'hr_very_active_rate_1h', 'SDNN_30m', 'pHR2_30m', 'rMSSD_30m',
       'low_hr_30m', 'high_hr_30m', 'l_h_30m', 'CR_30m', 'hr_mean_30m',
       'hr_var_30m', 'hr_std_30m', 'hr_median_30m', 'hr_rest_rate_30m',
       'hr_moderate_rate_30m', 'hr_very_active_rate_30m', 'SDNN_10m',
       'pHR2_10m', 'rMSSD_10m', 'low_hr_10m', 'high_hr_10m', 'l_h_10m',
       'CR_10m', 'hr_mean_10m', 'hr_var_10m', 'hr_std_10m',
       'hr_median_10m', 'hr_rest_rate_10m', 'hr_moderate_rate_10m',
       'hr_very_active_rate_10m', 'SDNN_5m', 'pHR2_5m', 'rMSSD_5m',
       'low_hr_5m', 'high_hr_5m', 'l_h_5m', 'CR_5m', 'hr_mean_5m',
       'hr_var_5m', 'hr_std_5m', 'hr_median_5m', 'hr_rest_rate_5m',
       'hr_moderate_rate_5m', 'hr_very_active_rate_5m', 'Subject_x',
       'SBQ', 'FTP', 'SWLS', 'Neuroticism', 'Extraversion',
       'Conscientiousness', 'NS_total', 'BIS_total', 'BIS.5', 'BAS_D',
       'BAS_FS', 'BAS_RR', 'HAP_actual', 'P_actual', 'LAP_actual',
       'LA_actual', 'LAN_actual', 'N_actual', 'HAN_actual', 'HA_actual',
       'HAP_ideal', 'P_ideal', 'LAP_ideal', 'LA_ideal', 'LAN_ideal',
       'N_ideal', 'HAN_ideal', 'HA_ideal', 'Education', 'Ethnicity',
       'Sex', 'Marital_Status', 'Children', 'Household_income', 'Age',
       'BMI', 'survey_hour', 'Subject_y', 'r2r_corr', 'Experiment_y',
       'Corr_z', 'max_n', 'max_p', 'valence_p', 'valence_n',
       'valence_reg', 'valence', 'edu', 'edu_hs', 'edu_ba', 'edu_ma',
       'edu_phd', 'is_married', 'is_divorced', 'is_single', 'is_widowed',
       'is_with_partner', 'income'], dtype=object)

In [59]:
exp_clean = exp_clean.drop(['index','Unnamed: 0', 'Unnamed: 0.1', 'start_survey', 'survey_no', 'DATE_x', 'Period_of_day', 'VALENCE', 'VALENCE_mean','Subject_y', 'Experiment_y','Education', 'Ethnicity','Sex', 'Marital_Status', 'edu','Household_income','Subject_x',  'subject_id_x', 'subject_id_y','survey_date', 'start_survey_10m_ahead', 'start_survey_1h_ahead', 'start_survey_30m_ahead', 'start_survey_3h_ahead', 'start_survey_5m_ahead', 'experiment'], axis=1)

### 4.Export

In [60]:
exp_clean = exp_clean.reset_index(drop=True)
exp_clean.to_csv('./data/processed/exp.csv')